<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Personal Care</title>
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <%- include('partials/header') %>

    <h1>Personal Care Services</h1>
    <p>Here you can learn more about our Personal Care service.</p>

    <%- include('partials/footer') %>
</body>
</html>