<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Personal Care</title>
  <link rel="icon" type="image/x-icon" href="img/elder.ico" />
  <link rel="stylesheet" href="/css/global.css">
</head>

<body>
  <%- include('partials/loader') %>
    <div class="main">
      <%- include('partials/header') %>

        <h1>Personal Care Services</h1>
        <p>Here you can learn more about our Personal Care service.</p>

        <%- include('partials/footer') %>
    </div>
</body>

</html>